<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="router.navigate(['dashboard/admin/getallcustomers'])">Customers List</button>
        <button mat-button (click)="router.navigate(['dashboard/admin/addcustomer'])">+Customer</button>
        <button mat-button (click)="router.navigate(['dashboard/admin/getallcompanies'])">Companies List</button>
        <button mat-button (click)="router.navigate(['dashboard/admin/addcompany'])">+Company</button> 
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>