<div><p>Companies List</p></div>
<div><p><button mat-button (click)="clickHandler('getallcompanies')" style="background: green;">Refresh</button></p></div>

<div *ngIf="data" id="data-container">
    <table>


        <tr *ngFor="let item of data; let i=index;">
            <td>{{item.id}}</td>

            <td><button mat-button (click)="clickHandler('getcompany/' + item['id'])" style="background: yellow;">Get</button></td>
            <td><button mat-button (click)="clickHandler('deletecompany/' + item['id'])" style="background: red;">Del</button></td>
 
            <td>{{item.compName}}</td>
            <td>{{item.email}}</td>
            <td *ngIf="item['coupons'].length > 0"> Coupones:
                <tr  style="background-color: goldenrod">
                    <td> ID</td>
                    <td> type</td>
                    <td> title</td>
                    <td> amount</td>
                    <td> price</td>
                    <td> startDate</td>
                    <td> endDate</td>
                    <td>
                </tr> 
                <tr *ngFor="let coupon of item.coupons;" style="background-color: rgb(160, 235, 245)">
                   <td> {{coupon.id}}</td>
                   <td> {{coupon.type}}</td>
                   <td> {{coupon.title}}</td>
                   <td> {{coupon.amount}}</td>
                   <td> {{coupon.price}}</td>
                   <td> {{coupon.startDate}}</td>
                   <td> {{coupon.endDate}}</td>
                </tr>
               <tr> <td><button mat-button (click)="router.navigate(['dashboard/company/getallcoupons'])">Coupons List</button></td></tr>
            </td>
        </tr>         
    </table>
</div>