
<div><p>Customers List</p></div>
<div><p><button mat-button (click)="clickHandler('getallcustomers')" style="background: green;">Refresh</button></p></div>


<div *ngIf="data" id="data-container">
    <table>
        <!-- <tr>
            <td *ngFor="let k of keys[0]">{{k}} </td>
        </tr> -->

        <tr *ngFor="let item of data; let i=index;">
            <td>{{item.id}}</td>
            <td><button mat-button (click)="clickHandler('getcustomer/' + item['id'])" style="background: yellow;">Get</button></td>
            <td><button mat-button (click)="clickHandler('deletecustomer/' + item['id'])" style="background: red;">Del</button></td>
            <td><button mat-button (click)="router.navigate(['dashboard/admin/addcustomer/'])" style="background:darkorchid;">Edit</button></td>
            <td>{{item.custName}}</td>
            <td>{{item.email}}</td>
            <td> coupones:
                <tr *ngFor="let coupon of item.coupons;">
                   <td> {{coupon.id}}</td>
                   <td> {{coupon.title}}</td>
                   <td> {{coupon.amount}}</td>
                   <td> {{coupon.enddate}}</td>
                   <td> {{coupon.price}}</td>
                </tr>
            </td>

        </tr>         
    </table>
</div>